<form method="post">
	<input type="text" name="team_name" placeholder="Team Name">
	<br>
	<input type="text" name="name" placeholder="Your Name">
	<br>
	<input type="email" name="email" placeholder="Email Addrs.">
	<br>
	<input type="password" name="password" placeholder="Password">
	<br>
	<input type="submit" value="Submit">

</form>